@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.custom-blue-shadow {
    position: relative;
    overflow: hidden;
}

.custom-blue-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 40px blue;
    z-index: 10;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.custom-white-shadow {
    position: relative;
    overflow: hidden;
}

.custom-white-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 40px white;
    z-index: 10;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.custom-green-shadow {
    position: relative;
    overflow: hidden;
}

.custom-green-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 40px green;
    z-index: 10;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.custom-yellow-shadow {
    position: relative;
    overflow: hidden;
}

.custom-yellow-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 40px yellow;
    z-index: 10;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}